#feature {
  margin: 2px;
  background: #ffffff;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  width: 300px;

  max-width: 300px;
  min-width: 250px;
}

.feature-icon {
  border-radius: 50%;
  overflow: hidden;
  width: 150px;
  height: 150px;
  margin: 0 auto 15px;
}

.feature-icon svg {
  width: 100%;
  height: 100%;
}

h3#name {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  color: #ffffff;
  margin-bottom: 10px;
}

p {
  font-size: 0.95rem;
  line-height: 1.6;
  color: #666;
}

.icon-link {
  display: inline-block;
  color: #007bff;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.2s ease-in-out;
}

.icon-link:hover {
  color: #0056b3;
}

.icon-link svg {
  margin-left: 5px;
  fill: #007bff;
  transition: fill 0.2s ease-in-out;
}

.icon-link:hover svg {
  fill: #0056b3;
}

#text {
  background-color: #ffffff; /* Белый фон */
  border-radius: 15px; /* Скругление углов */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тень */
  padding: 20px; /* Внутренние отступы */
  margin: 20px auto; /* Внешние отступы (центрируем блок по горизонтали) */
  max-width: 1000px; /* Увеличенная ширина блока */
  text-align: justify; /* Выравнивание текста по ширине */
  line-height: 1.8; /* Интерлиньяж для читаемости текста */
  font-family: Arial, sans-serif; /* Шрифт */
  color: #333333; /* Цвет текста */
}

#tex-1 {
  margin: 0; /* Убираем отступы у параграфа */
}
